src/main/resources/xml_schema/dto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.svj.com/zis/dto" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.svj.com/zis/dto" elementFormDefault="qualified">
    <xs:element name="userdto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="password">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="4"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="tokendto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="basic_info_dto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jmbg">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d{13,13}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="lbo">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d{11,11}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ime" type="xs:string"/>
                <xs:element name="prezime" type="xs:string"/>
                <xs:element name="ime_jednog_roditelja" type="xs:string"/>
                <xs:element name="datum_rodjenja" type="xs:date"/>
                <xs:element name="ulica" type="xs:string"/>
                <xs:element name="broj">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="mesto" type="xs:string"/>
                <xs:element name="opstina" type="xs:string"/>
                <xs:element name="telefon" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="our" type="xs:string" minOccurs="0"/>
                <xs:element name="pol" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="musko"/>
                            <xs:enumeration value="zensko"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="bracno_stanje" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="neozenjen"/>
                            <xs:enumeration value="neudata"/>
                            <xs:enumeration value="ozenjen"/>
                            <xs:enumeration value="udata"/>
                            <xs:enumeration value="udovac"/>
                            <xs:enumeration value="udovica"/>
                            <xs:enumeration value="razveden"/>
                            <xs:enumeration value="razvedena"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="osnov_oslobadjanja_od_participacije" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="report_dto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dijagnoza" type="xs:string"/>
                <xs:element name="anamneza">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="link">
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:anyURI" use="required"/>
                                    <xs:anyAttribute processContents="lax"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="terapija">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="link">
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:anyURI" use="required"/>
                                    <xs:anyAttribute processContents="lax"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="doctor_receipt_dto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ustanova">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="naziv_zdrastvene_ustanove" type="xs:string"/>
                            <xs:element name="drzava" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="potpis_lekara" type="xs:string"/>
                <xs:element name="propisani_lek">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="naziv" type="xs:string"/>
                            <xs:element name="sifra" type="xs:long"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dijagnoza" type="xs:string"/>
                <xs:element name="redni_broj" type="xs:int"/>
                <xs:element name="kolicina" type="xs:int"/>
                <xs:element name="rp">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="link">
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:anyURI" use="required"/>
                                    <xs:anyAttribute processContents="lax"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="reviews_dto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="doctor">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="reviews">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="review" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dateAndTime" type="xs:dateTime"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="uput_za_specijalisticki_pregled_dto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zdravstvena_ustanova_koja_salje" type="xs:string"/>
                <xs:element name="zdravstvena_ustanova_koja_prima" type="xs:string"/>
                <xs:element name="lekarov_potpis" type="xs:string"/>
                <xs:element name="pecat" type="xs:string"/>
                <xs:element name="specijalista">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:anyURI" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="uput_za_laboratoriju_dto">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zdravstvena_ustanova_koja_salje" type="xs:string"/>
                <xs:element name="zdravstvena_ustanova_koja_prima" type="xs:string"/>
                <xs:element name="klinicka_dijagnoza" type="xs:string"/>
                <xs:element name="kad_je_uzet_materijal" type="xs:dateTime"/>
                <xs:element name="tip_pregleda" type="xs:string"/>
                <xs:element name="lekarov_potpis" type="xs:string"/>
                <xs:element name="pecat" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
